.coming__soon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact__link{
    font-size: x-large;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

